.cron-info-visible {
  display: flex !important;
}
#cronInfoBox {
  display: none;
}
#cronInfoBox.cron-info-visible {
  display: flex !important;
}

.cron-input-lg {
  font-size: 1.1em;
  width: 100%;
}
